body > header {
    width: 95%;
    border: 0px solid red;
    margin: 0 auto;
}
header h1 {
    width: 10%;
    font-size: 60px;
    border: 0px solid black;
    text-align: center;
    order: 1;
}
header a#bars{
    display: none;
}
header nav#entrar {
    width: 20%;
    order:3;
}

header  div#search {
    width: 70%;
    order:2;
    border: 0px solid red;
}
header nav#menu {
    display: flex;
    order: 4;
}

header nav#menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;;
    border-bottom: 2px solid rgba(0,0,0,.2);
}
header nav#menu a{
    width: 12%;
    padding: 10px;
    border: 0px solid black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
    text-decoration: none;

}
header nav#menu a:hover{
    border-bottom: 4px solid black;
}

header nav#entrar a span {
    font-size: 25px !important;
}
header nav#entrar a i {
    font-size: 26px;
}
header div#search i {
    /* transition: 3s all; */
    transform: translate(-100px, 0);
}
main header nav#categorias {
    transition: 1s all;
    flex-flow: row-reverse nowrap;
}
main header nav#categorias a span {
    font-size: 25px;
}
main h2 {
    font-size: 30px;
    padding: 20px;
    color: orange;
}
main section article {
    width: 32%;
    margin-bottom: 10px;
    
}
main section article  h3{
    font-size: 25px !important;
}
main section article  span{
    font-size: 25px !important;
}
