div.foto{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
}

div.foto figure img{
    width: 100%;
    height: 450px;
}

div.foto figure {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
}

div.foto figure#segunda{
    border: solid 2px black;
}

div.foto figure h4,span,li{   
    width: 100%; 
}