header {
    height: 100px;
    background-color: gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

figure {
    width: 10%;
}

img {
    height: 80px;
}