nav {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: rgba(6, 69, 69, 0.558);
    border-radius: 50px;
    padding: 5px;
}

nav a:hover {
    border-bottom: 2px solid white;
}