



header{
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 50px 100px 300px;
    grid-template-areas:
    "contacto sociales sociales"
    "logo titulo1 navicon"
    "navppal navppal navppal";
    /* gap: 5px; */
    background-color: gray;

}