.auto {
    background-image:url('../../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 4vh 5vh;
}

h1 {
    width: 100%;
    border-bottom: 2px solid gray;
}

p {
    width: 80%;
    font-size: 20px;
}