header {
  width: 20%;
  height: 800px;
  display: flex;
  flex-flow: row wrap;
}

main {
  width: 80%;
  padding-left: 50px;
}

.navppal {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  height: 50%;
}

.navppal a {
  color: rgb(65, 49, 49);
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.navppal a.caravanas{
  color: rgb(156, 3, 158);
  width: 100%;
  text-align: center;
  font-size: 25px;
  justify-content: center;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bolder;
}

.navppal a.integrales {
  color:rgb(0, 0, 0);
  border-bottom: 1px solid rgb(93, 93, 93);
  justify-content: flex-start;
  padding: 10px;
}

