@media screen and (min-width: 992px){

    header h1{
        order: 1;
        width: 10%;
    }

    header nav#sociales{
        order: 3;
        width: 30%;
    }

    header #buscador{
        order: 2;
        width: 60%;
        justify-content: flex-start;
    }

    header #buscador input{
        width: 95%;
    }

    header #secciones{
        width: 100%;
        order: 4;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    header #secciones a:hover{
        border-bottom: 3px solid black;
        padding: 10px 10px;
    }

    header #secciones a{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 11%;
        color: blue;
        text-decoration: none;
        padding: 5px;
    }

    header nav#menu{
        display: none;
    }

    main section#dpto{
        display: flex;
        flex-flow: wrap-reverse;
    }

    main section#dpto h1{
        color: goldenrod;
    }

    main section#dpto article{
        width: 16%;
    }

    main #prog h2{
        color: goldenrod;
    }

    main #prog article{
        width: 30%;
    }

}