@media screen and (min-width: 992px){

    header h1{
        order: 1;
        width: 10%;
    }

    header nav#sociales{
        order: 3;
        width: 30%;
    }

    header #buscador{
        order: 2;
        width: 60%;
        justify-content: flex-start;
    }

    header #buscador input{
        width: 95%;
    }

    header #secciones{
        width: 100%;
        order: 4;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    header #secciones a{
        width: 11%;
        color: rgb(29, 4, 154);
        text-decoration: none;
        padding: 5px;
    }

    header nav#menu{
        display: none;
    }

    main{

    }
    main section#dpto{
        display: flex;
        /* flex-flow: wrap-reverse; */
    }

    main section#dpto h1{
        color: goldenrod;
    }

    main section#dpto article{
        width: 16%;
    }

    /* main #dpto:nth-child(1){
        order: 1;
    }

    main #dpto:nth-child(2){
        order: 7;
    }

    main #dpto:nth-child(3){
        order: 6;
    }

    main #dpto:nth-child(4){
        order: 5;
    }

    main #dpto:nth-child(5){
        order: 4;
    }

    main #dpto:nth-child(6){
        order: 3;
    }

    main #dpto:nth-child(7){
        order: 2;
    } */

    main #prog article{
        width: 30%;
    }
}