nav{
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
}

nav>a:not(#TituloNavBar){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
    padding: 15px;
    transition: 0.5s;
}

#TituloNavBar{
    /* color: blue; */
    font-weight: bold;
    align-self: center;
    padding: 15px;
    font-size: 18pt;
}

.AgrupacionNavBar{
    border-bottom: 1px solid rgb(230, 230, 230);
}

nav>a:hover:not(#TituloNavBar){
    transition: 0.5s;
    background-color: rgb(240, 240, 240);
}
