#root {

/* background-color: black; */
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
height: 900px;
}

header {

  width: 30%;
  height: 100%;
}

main {

  max-width: 70%;
  height: 100%;
}

img {

  max-width: 100%;

}


img {

  width: 500px;
  display: flex;
  justify-content: space-between;
  
  }


  main div.contenedor2 {

    max-height: 500px;
    max-width: 80%;
    padding: auto;
}